* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display SC', serif;
}

:root {
    --index: calc(1vw + 1vh)
}

body {
    background-color: rgb(255, 252, 248);
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: calc(var(--index) * 1) calc(var(--index) * 2.5);
    padding-bottom: 2px;
}

button[class*="button"] {
    border: none;
    outline: none;
    background: none;
    font-size: calc(var(--index) * 1);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-out;
}

button[class*="button"]:hover {
    opacity: 0.6;
    transition: 0.2s ease-out;
}

.menu__btn {
    display: flex;
    gap: 6vw;
}

.header__span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(22, 22, 22);
    margin-top: -18px;

}

.hero__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.main-content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}

.main-content__title {
    font-size: calc(var(--index) * 6.7);
    letter-spacing: calc(var(--index) * 3.4);
    text-align: center;
    margin-bottom: -100px;
    z-index: 0;
    padding: 10px;
}

.main-content__image {
    margin-top: 135px;
    margin-left: -80px;
    z-index: 100;
    position: absolute;
}

.main-content__image img {
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 25);
}




.main__container {
    margin-top: calc(var(--index) * 8);
}

.main__span:first-child {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #8F8F8F;
}

.most-popular-choice__title {
    font-size: calc(var(--index) * 3);
    margin-left: calc(var(--index) * 1);
    margin-top: calc(var(--index) * 5);
    margin-bottom: calc(var(--index) * 3);
}

.main-container__carousel {
    position: relative;
}

.carousel__images {
    display: inline-block;
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 24);
    background-color: #e6e3df;
    /*border: 1px solid black;*/
    margin-left: 30px;
    border-radius: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


.carousel {
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel__images:first-child {
    margin-left: calc(var(--index) * 1);
}

.fa-solid {
    font-size: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-angle-left {
    left: 8px;
}

.fa-angle-right {
    right: 8px;
}

.most-popular-choice__caption {
    float: right;
    margin-right: calc(var(--index) * 1);
    margin-top: calc(var(--index) * 1.8);
}

.most-popular-choice__caption a {
    text-decoration: none;
    color: black;
    font-size: calc(var(--index) * 1.5);
    transition: 0.2s ease-out;
}

.most-popular-choice__caption a:hover {
    color: #9C3838;
    transition: 0.2s ease-out;
}

.main-span:last-child {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #8F8F8F;
    margin-top: calc(var(--index) * 5.5);
    margin-bottom: calc(var(--index) * 1);
}

.genre__text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: calc(var(--index) * 5) calc(var(--index) * 1);
}

.genre__title {
    font-size: calc(var(--index) * 3);
}

.genre__caption {
    font-size: calc(var(--index) * 1.5);
    color: #8F8F8F;
}

.genre-choice__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin: calc(var(--index) * 5) calc(var(--index) * 1);

}

.genre__block {
    position: relative;
    overflow: hidden;
}

.genre__block a {
    width: 190px;
    height: 210px;
    background-color: #e6e3df;
    border-radius: 6%;
    display: block;
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    transition: 0.2s ease-out;
}

.genre__block a:hover {
    background-color: #9C3838;
    color: white;
    transition: 0.2s ease-out;
}

.genre__block p {
    display: flex;
    justify-content: center;
    font-size: calc(var(--index) * 1);
    font-weight: 700;
}

.map__text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 40px;
    flex-wrap: wrap;
    margin: calc(var(--index) * 7) calc(var(--index) * 1)  calc(var(--index) * 3);
}

.map__title {
    font-size: calc(var(--index) * 3);
}

.map__caption {
    font-size: calc(var(--index) * 1.5);
    color: #8F8F8F;
}

iframe{
    width: 100%;
}

.about-us__container {
    margin: calc(var(--index) * 5) calc(var(--index) * 1) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.about-us__title {
    font-size: calc(var(--index) * 3);
    font-weight: 700;
    text-transform: uppercase;
}

.about-us__link a {
    font-size: calc(var(--index) * 1.5);
    color: black;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.about-us__link a:hover {
    color: #9C3838;
    transition: 0.2s ease-out;
}

.footer__container {
    margin-top: calc(var(--index) * 3);
    color: white;
    background-color: #101010;
    padding: 50px 0 30px 0;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form__title {
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 252, 248);
}

.form__caption {
    font-size: 24px;
    color: rgb(255, 252, 248);
    text-transform: lowercase;
    opacity: 0.7;
}

.form__container {
    border: 1.8px;
    border-radius: 10px;
    padding: 35px 40px;
    background-color: rgb(255, 252, 248);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form__input {
    width: calc(var(--index) * 18);
    height: calc(var(--index) * 1.8);
    border: none;
    border-radius: 5px;
    background-color: #e6e3df;
    padding-left: 15px;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form__input:focus {
    outline-color: #9C3838;
}

.form__main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__question {
    width: calc(var(--index) * 18);
    height: calc(var(--index) * 7);
    border: none;
    border-radius: 5px;
    background-color: #e6e3df;
    padding: 8px 15px;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form__question:focus {
    outline-color: #9C3838;
}

.form__text {
    font-size: 20px;
    color: #9C3838;
    padding-bottom: 4px;
}

.form__button-container {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    border: none;
    background-color: #e6e3df;
    font-size: 20px;
    margin-top: 20px;
    padding: 7px 25px;
    border-radius: 5px;
    transition: 0.2s ease-out;
    cursor: pointer;
    text-transform: lowercase;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form__btn:hover {
    background-color: #9C3838;
    color: #fff;
    transition: 0.2s ease-out;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    gap: 55px;
    row-gap: 35px;
    flex-wrap: wrap;
    color: rgb(255, 252, 248);
    text-transform: lowercase;
    margin-top: 80px;
    padding: 0 20px;
}

.footer__info ul {
    list-style-type: none;
}

li[class*="__tital"] {
    font-size: 22px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.catalogue,
.info,
.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info__link {
    text-decoration: none;
    color: rgb(255, 252, 248);
}

.info__link:hover {
    color: #9C3838;
}

.contacts__social-media {
    display: flex;
    gap: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 1000px) and (max-width: 1315px) {
    .genre-choice__container {
        display: flex;
        justify-content: center;
        gap: 70px;
        margin: calc(var(--index) * 5) calc(var(--index) * 5);
    }

    .genre__block a {
        width: calc(var(--index) * 11);
        height: calc(var(--index) * 11.5);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.3);
    }
}

@media (max-width: 1080px) {
    .form__input {
        width: calc(var(--index) * 21);
        height: calc(var(--index) * 2.4);
    }

    .form__question {
        width: calc(var(--index) * 21);
        height: calc(var(--index) * 9.5);
    }

    iframe{
        height: 360px;
    }
}

@media (min-width: 820px) and (max-width: 1000px) {
    .genre-choice__container {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: calc(var(--index) * 5) calc(var(--index) * 3);
    }

    .genre__block a {
        width: calc(var(--index) * 11);
        height: calc(var(--index) * 11.5);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.3);
    }

}

@media (max-width: 820px) {
    button[class*="button"] {
        font-size: calc(var(--index) * 1.5);
    }

    .most-popular-choice__caption a {
        font-size: calc(var(--index) * 1.8);
    }

    .genre-choice__container {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: calc(var(--index) * 5) calc(var(--index) * 2);
    }

    .genre__block a {
        width: calc(var(--index) * 11);
        height: calc(var(--index) * 11.5);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.3);
    }

    .main-content__text {
        gap: 30px;
    }

    .form__container {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .form__title {
        font-size: calc(var(--index) * 3.5);
    }

    .form__caption {
        font-size: calc(var(--index) * 1.7);
    }

    .form__input {
        font-size: 16px;
        height: calc(var(--index) * 2.8);
    }

    .form__question {
        height: calc(var(--index) * 10.5);
    }

    .form__text {
        font-size: 20px;
    }

    
    iframe{
        height: 330px;
    }
}


@media (max-width: 720px) {
    .header__menu {
        margin: calc(var(--index) * 1) calc(var(--index) * 1);
    }

    .main-content__text {
        gap: 38px;

    }

    .main-content__title {
        font-size: calc(var(--index) * 6);
        letter-spacing: calc(var(--index) * 3);
        text-align: center;
        margin-bottom: -100px;
        z-index: 0;
    }

    .main-content__image {
        margin-top: 135px;
        margin-left: -60px;
        z-index: 100;
        position: absolute;
    }

    .main-content__image img {
        width: calc(var(--index) * 22);
        height: calc(var(--index) * 22);
    }

    .form__title {
        font-size: calc(var(--index) * 3.5);
    }

    .form__caption {
        font-size: calc(var(--index) * 1.7);
    }

    .form__input {
        height: calc(var(--index) * 3);
        width: calc(var(--index) * 24);
    }

    .form__question {
        width: calc(var(--index) * 24);
        height: calc(var(--index) * 11.5);
    }

    li[class*="__tital"] {
        font-size: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    .info__link {
        font-size: 14px;
    }

    .contacts__social-media {
        font-size: 24px;
        /*пофікси*/
    }

    iframe{
        height: 300px;
    }
}

@media (max-width: 650px) {
    .header__span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: black;
        margin-top: -14px;

    }

    .genre-choice__container {
        gap: 30px;
        margin: calc(var(--index) * 5) calc(var(--index) * 1);
    }

    .genre__block a {
        width: calc(var(--index) * 10);
        height: calc(var(--index) * 10.5);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.1);
    }

    .about-us__link a{
        font-size: calc(var(--index) * 2);
    }

    .icon {
        font-size: 16px;
    }

    .form__main {
        gap: 10;
    }
}

@media (max-width: 510px) {
    button[class*="button"] {
        font-size: calc(var(--index) * 1.5);
    }

    .header__menu {
        display: flex;
        justify-content: center;
        gap: 11vw;
        margin: calc(var(--index) * 1) 0;
    }

    .menu__btn {
        display: flex;
        gap: 13vw;
    }

    .hero__main-content {
        margin-left: 30px;
    }

    .main-content__text {
        gap: 65px;

    }

    .main-content__title {
        font-size: calc(var(--index) * 6.5);
        letter-spacing: calc(var(--index) * 2);
    }

    .main-content__image {
        margin-top: 130px;
        margin-left: -28px;
    }

    .main-content__image img {
        width: calc(var(--index) * 21.5);
        height: calc(var(--index) * 21.5);
    }

    .carousel__images {
        margin-left: 15px;
    }

    .fa-solid{
        font-size: 28px;
    }

    .carousel__images {
        width: calc(var(--index) * 17.5);
        height: calc(var(--index) * 21);
    }

    .genre-choice__container {
        gap: 25px;
        margin: calc(var(--index) * 5) calc(var(--index) * 0.8);
    }

    .genre__block a {
        width: calc(var(--index) * 9.5);
        height: calc(var(--index) * 10);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.2);
    }

    .most-popular-choice__title {
        margin-left: calc(var(--index) * 1.5);
    }

    .form__input {
        height: calc(var(--index) * 3.5);
        width: calc(var(--index) * 24);
    }

    .form__question {
        width: calc(var(--index) * 24);
        height: calc(var(--index) * 12.5);
    }

    .form__text{
        font-size: 18px;
    }

    li[class*="__tital"] {
        font-size: 18px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    .catalogue,
    .info,
    .contacts {
        gap: 4px;
    }

    .info__link {
        font-size: 12px;
    }

    .contacts__social-media {
        font-size: 24px;
        /*пофікси*/
    }


    .form__btn {
        font-size: 18px;
        margin-top: 18px;
        padding: 5px 22px;
    }

    .form__container {
        padding: 30px 30px;
    }

    .form__main {
        gap: 0;
    }

}

@media (max-width: 480px) {
    button[class*="button"] {
        font-size: calc(var(--index) * 1.5);
    }

    .header__menu {
        display: flex;
        justify-content: center;
        gap: 12vw;
        margin: calc(var(--index) * 1) 0;

    }

    .menu__btn {
        display: flex;
        gap: 15vw;
    }

    .hero__main-content {
        margin-left: 30px;
    }

    .main-content__text {
        gap: 50px;

    }

    .main-content__title {
        font-size: calc(var(--index) * 6.5);
        letter-spacing: calc(var(--index) * 2);
    }

    .main-content__image {
        margin-top: 130px;
        margin-left: -28px;
    }

    .main-content__image img {
        width: calc(var(--index) * 21.5);
        height: calc(var(--index) * 21.5);
    }

    .carousel__images {
        margin-left: 15px;
    }

    .carousel__images {
        width: calc(var(--index) * 17.5);
        height: calc(var(--index) * 21);
    }

    .genre-choice__container {
        gap: 25px;
        margin: calc(var(--index) * 5) calc(var(--index) * 0.8);
    }

    .genre__block a {
        width: calc(var(--index) * 9.5);
        height: calc(var(--index) * 10);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.2);
    }

    .most-popular-choice__title {
        margin-left: calc(var(--index) * 1.5);
    }

    .about-us__title {
        font-size: calc(var(--index) * 2.9);
       
    }

    .form__container{
        padding: 22px 25px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}

    .form__input {
        height: calc(var(--index) * 3);
        width: calc(var(--index) * 22);
        font-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}

    .form__question {
        width: calc(var(--index) * 22);
        height: calc(var(--index) * 11);
        font-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .form__text{
        font-size: 16px;
    }

    
    .form__btn {
        font-size: 16px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .footer__info {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        color: rgb(255, 252, 248);
        text-transform: lowercase;
        margin-top: 80px;

        padding: 0 15px;
    }

}

@media (min-width: 360px) and (max-width: 420px) {
    .genre__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        align-items: start;
        margin: calc(var(--index) * 5) calc(var(--index) * 1);
    }

    .genre__caption {
        font-size: calc(var(--index) * 2);
    }

    .genre-choice__container {
        gap: 35px;
        margin: calc(var(--index) * 5) calc(var(--index) * 0.8);
    }

    .menu__btn {
        display: flex;
        gap: 13vw;
    }

    .genre__block a {
        width: calc(var(--index) * 11.5);
        height: calc(var(--index) * 12);
    }

    .genre__block p {
        font-size: calc(var(--index) * 1.5);
    }

    .header__span {
        margin-top: -10px;
    }

    .main__span:first-child {
        width: 100%;
        height: 2px;
        top: 25px;
        position: relative;
    }

    .carousel__images {
        width: calc(var(--index) * 16);
        height: calc(var(--index) * 19.5);
    }

    .most-popular-choice__caption a {
        font-size: calc(var(--index) * 2);
    }

    .map__caption {
        font-size: calc(var(--index) * 2);
    }

    .map__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        align-items: start;
    }

    iframe{
        height: 260px;
    }

    .about-us__title {
        font-size: calc(var(--index) * 2.1);
    }

    .form__title {
        font-size: calc(var(--index) * 3);
    }

}