* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display SC', serif;
}

:root {
    --index: calc(1vw + 1vh)
}

body{
    background-color: rgb(255, 252, 248);
}

.header__main{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: calc(var(--index) * 1);
    margin-right: calc(var(--index) * 4);
}

.header__cart{
    border: none;
    outline: none;
    background: none;
    font-size: 36px;
    cursor: pointer;
}

.header__title{
    font-size: calc(var(--index) * 3);

}

.header__span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9C3838;
}

.main__container{
    display: flex;
    margin: calc(var(--index) * 4) calc(var(--index) * 1);
    gap: 55px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card__content{
    padding: 10px;
}

.product-card__image{
    margin-bottom: calc(var(--index) * 1);
}

.product-card__image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.product-card__info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.product-card__title{
    font-size: 24px;
    
}

.product-card__price{
    font-size: 24px;
    font-weight: 700;
}

.product-card__buy{
    display: flex;
    flex-wrap: nowrap; 
    align-items: flex-start;
    gap: 15px;
}

.product-card__cart{
    border: none;
    outline: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
}

@media (max-width: 1410px) {
    .main__container {
        margin: calc(var(--index) * 4) calc(var(--index) * 1);
        justify-content: center;
        gap: 20px;
    }

    .product-card__image img{
        width: 330px;
        height: 330px;
        object-fit: cover;
    }
}

@media (max-width: 1140px) {
    .product-card__image img{
        width: 350px;
        height: 350px;
    }

    .main__container {
        margin: calc(var(--index) * 4) calc(var(--index) * 1);
        justify-content: center;
        gap: 50px;
    }
}

@media (max-width: 850px) {
    .product-card__image img{
        width: 300px;
        height: 300px;
    }

    .main__container {
        gap: 30px;
    }
}

@media (max-width: 720px) {
    .product-card__image img{
        width: 280px;
        height: 280px;
    }

    .main__container {
        gap: 20px;
    }
}

@media (max-width: 650px) {
    .product-card__image img{
        width: 220px;
        height: 220px;
    }

    .main__container {
        gap: 10px;
    }

    .header__title {
        width: 70%;
    }

    .header__main{
        align-items: end;
    }

    .product-card__info {
        gap: 10px;
    }

    .product-card__title {
        font-size: 18px;
    }

    .product-card__price {
        font-size: 18px;
    }

    .product-card__cart{
        font-size: 24px;
    }
}

@media (min-width: 425px) and (max-width: 515px) {
    .product-card__image img{
        width: 180px;
        height: 180px;
    }

    .main__container {
        margin: calc(var(--index) * 4) calc(var(--index) * 1);
        gap: 0;
        justify-content: center;
    }

    .header__title {
        width: 70%;
    }
}

@media (min-width: 360px) and (max-width: 424px) {
    .product-card__image img{
        width: 140px;
        height: 140px;
    }

    .main__container {
        gap: 10;
    }

    .header__title {
        width: 80%;
    }

    .product-card__title {
        font-size: 14px;
    }

    .product-card__price {
        font-size: 14px;
    }

    .product-card__cart{
        font-size: 20px;
    }

    .header__cart{
        font-size: 36px;
    }
}